#container {
}
#authContainer {
  background-image: url("../../../Assets/Images/authPage.jpg");
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 90vh;
  top: 10vh;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: none;
  color: black;
}
