#header {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* 1st color */
  background-color: #343a40;
  color: #212529;
  padding-left: 10px;
  justify-content: space-between;
  /* box-shadow: 0 1px 3px 1px #adb5bd; */
  height: 10vh;
  align-items: center;
}
#title {
  display: inline;
  color: #ffff;
  text-decoration: none;
}
#title:hover {
  text-decoration: none;
}
.navButton {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: inherit;
  color: white;
  height: 10vh;
  border: 0;
  padding: 10px;
}
.navButton:hover {
  display: flex;
  align-items: center;
  border: 0;
  height: 10vh;
  background-color: inherit;
  color: white;
  /* width: 10%; */
  background-color: white;
  color: #023047;
}
.link,
.link:hover {
  text-decoration: none;
}
